/* Colors */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.logo {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
}
.hover-effect {
  transition: transform 200ms;
}
.hover-effect:hover {
  transform: scale(1.2);
}
/* _ */
/* Header */
header {
  background-image: url(images/mobile/image-hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
  height: 500px;
}
header .container {
  padding-top: 20px;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .container .navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navbar .navbar-brand {
  position: relative;
  z-index: 20;
}
header .container .navbar .menu-btn {
  all: unset;
  position: relative;
  z-index: 20;
}
header .container .navbar .nav-desktop {
  display: none;
}
header .container .menu {
  display: none;
}
header .container .menu.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
}
header .container .menu.active .nav-mobile {
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-left: 15px;
}
header .container .menu.active .nav-mobile a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
header .hero {
  width: 100%;
  border: 2px solid hsl(0, 0%, 100%);
}
header .hero p {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 300;
  padding: 15px;
}
/* About */
#about .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#about .container .about-text {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .container .about-text h1 {
  font-size: 1.9rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
#about .container .about-text p {
  color: hsl(0, 0%, 55%);
  padding: 0 20px;
}
#products .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#products .container h2 {
  font-size: 1.9rem;
  font-family: "Josefin Sans", sans-serif;
}
#products .container .grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
#products .container .grid-container .grid-item {
  position: relative;
  transition: transform 200ms;
}
#products .container .grid-container .grid-item picture {
  width: 100%;
}
#products .container .grid-container .grid-item picture img {
  width: 100%;
}
#products .container .grid-container .grid-item p {
  position: absolute;
  left: 20px;
  bottom: 0;
  font-size: 1.5em;
  color: hsl(0, 0%, 100%);
  z-index: 10;
  font-family: "Josefin Sans", sans-serif;
}
#products .container .grid-container .grid-item p .break {
  display: block;
  font-family: "Josefin Sans", sans-serif;
}
#products .container .grid-container .grid-item:hover {
  transform: translateY(-15px);
}
#products .container .grid-btn {
  font-family: "Alata";
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 5px;
  border-radius: 0;
  border: 1px solid hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
  padding: 10px 20px;
}
#support {
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  font-family: "Alata", sans-serif;
}
#support .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#support .container .logo {
  margin-bottom: 25px;
}
#support .container .footer-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}
#support .container .footer-menu .footer-item {
  margin-bottom: 20px;
}
#support .container .footer-menu .footer-item a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
#support .container .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
#support .container .copy {
  color: hsl(0, 0%, 55%);
}
.attribution {
  padding-bottom: 20px;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  color: hsl(0, 0%, 55%);
}
.attribution p {
  margin: 10px 0;
}
.attribution a {
  color: hsl(0, 0%, 100%);
  padding: 0 -0.25em;
  margin: 0 -0.25em;
  text-decoration: none;
  box-shadow: inset 0 0 0 0;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.attribution a:hover,
.attribution a:focus {
  outline: thin dotted;
  color: hsl(0, 0%, 100%);
  box-shadow: inset 200px 0 0 0 hsl(305, 53%, 37%);
}
@media screen and (min-width: 768px) {
  header {
    background-image: url(images/desktop/image-hero.webp);
  }
  header .container .navbar .menu-btn {
    display: none;
  }
  header .container .navbar .nav-desktop {
    display: flex;
    gap: 15px;
    margin: 0;
    list-style: none;
  }
  header .container .navbar .nav-desktop .nav-item {
    transition: transform 200ms;
  }
  header .container .navbar .nav-desktop .nav-item a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
  }
  header .container .navbar .nav-desktop .nav-item:hover {
    transform: scale(1.2);
  }
  header .container .hero {
    width: 60%;
  }
  header .container .hero p {
    font-size: 3rem;
  }
  #about .container img {
    width: 70%;
  }
  #about .container .about-text {
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 10;
    padding-left: 40px;
    padding-top: 40px;
  }
  #about .container .about-text * {
    margin: 0;
  }
  #about .container .about-text h1 {
    font-size: 2rem;
  }
  #about .container .about-text p {
    font-size: 12px;
    padding: 0;
  }
  #products {
    margin: 100px 0;
  }
  #products .container h2 {
    align-self: flex-start;
  }
  #products .container .grid-container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
  #products .container .grid-btn {
    position: absolute;
    top: 0;
    right: 12px;
  }
  #products .container .grid-btn:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
  }
}
@media screen and (min-width: 1024px) {
  /* Desktop: #about +h1 font size,+p font size, +.about-text padding top and left  */
  #about .container .about-text {
    padding-left: 70px;
    padding-top: 70px;
    font-size: 14px;
  }
  #about .container .about-text h1 {
    font-size: 3em;
  }
  #about .container .about-text p {
    font-size: 1em;
  }
  #products .container .grid-container .grid-item p {
    font-size: 2.2rem;
  }
  #support .container {
    flex-direction: row;
    justify-content: space-between;
  }
  #support .container .footer-menu {
    flex-direction: row;
    gap: 30px;
  }
  #support .container .socials {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  #about .container .about-text {
    padding-left: 90px;
    padding-top: 90px;
    font-size: 16px;
  }
  #about .container .about-text h1 {
    font-size: 4rem;
  }
}
