/* Colors */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.logo {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
}
/* _ */
/* Header */
header {
  background-image: url(images/mobile/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
  height: 500px;
}
header .container {
  padding-top: 20px;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .container .navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navbar .navbar-brand {
  position: relative;
  z-index: 20;
}
header .container .navbar .menu-btn {
  all: unset;
  position: relative;
  z-index: 20;
}
header .container .navbar .nav-desktop {
  display: none;
}
header .container .menu {
  display: none;
}
header .container .menu.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
}
header .container .menu.active .nav-mobile {
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-left: 15px;
}
header .container .menu.active .nav-mobile a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
header .hero {
  width: 100%;
  border: 2px solid hsl(0, 0%, 100%);
}
header .hero p {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 300;
  padding: 15px;
}
/* About */
#about .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#about .container h1 {
  font-size: 1.9rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
#about .container p {
  color: hsl(0, 0%, 55%);
  padding: 0 20px;
}
#products .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#products .container h3 {
  font-size: 1.9rem;
  font-family: "Josefin Sans", sans-serif;
}
#products .container .grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
#products .container .grid-container .grid-item {
  position: relative;
}
#products .container .grid-container .grid-item p {
  position: absolute;
  left: 20px;
  bottom: 0;
  font-size: 1.3em;
  color: hsl(0, 0%, 100%);
  z-index: 10;
  font-family: "Josefin Sans", sans-serif;
}
#products .container .grid-container .grid-item p .break {
  display: block;
  font-family: "Josefin Sans", sans-serif;
}
#products .container .grid-btn {
  font-family: "Alata";
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 10px;
  border-radius: 0;
  border: 1px solid hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
  padding: 15px 45px;
}
#support {
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  font-family: "Alata", sans-serif;
}
#support .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#support .container .footer-menu {
  list-style: none;
  text-align: center;
  padding: 0;
}
#support .container .footer-menu .footer-item {
  margin-bottom: 20px;
}
#support .container .footer-menu .footer-item a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
#support .container .socials {
  display: flex;
  gap: 15px;
}
#support .container .copy {
  color: hsl(0, 0%, 55%);
}
.attribution {
  padding-bottom: 20px;
  width: 90%;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  color: hsl(0, 0%, 55%);
}
.attribution p {
  margin: 10px 0;
}
.attribution a {
  color: hsl(0, 0%, 100%);
  padding: 0 -0.25em;
  margin: 0 -0.25em;
  text-decoration: none;
  box-shadow: inset 0 0 0 0;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.attribution a:hover,
.attribution a:focus {
  outline: thin dotted;
  color: hsl(0, 0%, 100%);
  box-shadow: inset 200px 0 0 0 hsl(305, 53%, 37%);
}
@media screen and (min-width: 768px) {
  header {
    background-image: url(images/desktop/image-hero.jpg);
  }
  header .container .navbar .menu-btn {
    display: none;
  }
  header .container .navbar .nav-desktop {
    display: flex;
    gap: 15px;
    margin: 0;
    list-style: none;
  }
  header .container .navbar .nav-desktop a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
  }
  header .container .hero {
    width: 450px;
  }
  header .container .hero p {
    font-size: 3rem;
  }
}
