/* Colors */

@White: hsl(0, 0%, 100%);
@Black: hsl(0, 0%, 0%);
@Dark-Gray: hsl(0, 0%, 55%);
@Very-Dark-Gray: hsl(0, 0%, 41%);
@Attribute-color:hsl(305, 53%, 37%);

/* General Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

.container {
	padding: 0 20px;
}

.logo {
	color: @White;
	font-size: 1.7rem;
}

/* _ */

/* Header */

header {
	background-image: url(images/mobile/image-hero.jpg);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
	margin-bottom: 80px;

	.container {
		padding-top: 20px;
		position: relative;
		height: 70%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.navbar {
			display: flex;
			justify-content: space-between;
			font-family: "Alata";

			.navbar-brand {
				position: relative;
				z-index: 20;
			}

			.menu-list {
				display: none;
			}

			.menu-btn {
				all: unset;
				position: relative;
				z-index: 20;
			}
		}

		.menu {
			display: none;
		}

		.menu.active {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			z-index: 10;
			background-color: @Black;
			display: flex;
			align-items: center;

			.menu-list {
				list-style: none;
				font-size: 2rem;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				padding-left: 15px;

				a {
					color: @White;
					text-decoration: none;
					font-family: "Josefin Sans", sans-serif;
					font-optical-sizing: auto;
					font-weight: 300;
					font-style: normal;
				}
			}
		}
	}

	.hero {
		width: 100%;

		p {
			color: @White;
			font-family: "Josefin Sans";
			font-size: 2rem;
			font-weight: 300;
			border: 2px solid @White;
			padding: 15px;
		}
	}
}

/* About */

#about {
	.container {
		display: flex;
		flex-direction: column;
		gap: 50px;

		h1 {
			font-size: 1.9rem;
			font-family: "Josefin Sans", sans-serif;
			font-weight: 300;
		}

		p {
			color: @Dark-Gray;
			padding: 0 20px;
		}
	}
}

#products {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		font-family: "Josefin Sans", sans-serif;

		h3 {
			font-size: 1.9rem;
		}

		.grid-container {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;

			.grid-item {
				position: relative;

				p {
					position: absolute;
					left: 20px;
					bottom: 0;
					font-size: 1.3em;
					color: @White;
					z-index: 10;

					.break {
						display: block;
					}
				}
			}
		}

		.grid-btn {
			font-family: "Alata";
			font-size: 1.1em;
			font-weight: bold;
			letter-spacing: 10px;
			border-radius: 0;
			border: 1px solid @Black;
			color: @Black;
			padding: 15px 45px;
		}
	}
}

#support {
	width: 100%;
	background-color: @Black;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 25px;
		
		.footer-menu {
			list-style: none;
			text-align: center;
			padding: 0;
			

			.footer-item {
				margin-bottom: 10px;

				a {
					color:@White;
					text-decoration: none;
				}
			}
		}

		.socials {
			display: flex;
			gap: 15px;
		}

		.copy {
			color: @Dark-Gray;
		}


	}
}

 .attribution {
	padding-bottom: 20px;
	width: 90%;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 700;
	color: @Dark-Gray;
}

.attribution p {
	margin: 10px 0;
}

.attribution a {
	color: @White;
	padding: 0 -0.25em;
	margin: 0 -0.25em;
	text-decoration: none;
	box-shadow: inset 0 0 0 0;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.attribution a:hover,
.attribution a:focus {
	outline: thin dotted;
	color: @White;
	box-shadow: inset 200px 0 0 0 @Attribute-color;
}